.user-list-item {
    padding: 2px;
    border: 1px solid;

    display: flex;
    align-items: center;
}

.user-list-item:hover {
    background-color: var(--ion-color-qplightblue);
}
.divadd{
    display: flex;
     align-items: center;
}

.online {
    color: green;
  }
  
  .offline {
    color: red;
  }
