.messages-list {
    margin-top: auto;
}

.messages-list li {
    display: flex;
}

.my-message {
    justify-content: flex-end;
}

.others-message {
    justify-content: flex-start;
}

.chat-box-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.msg-container {
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.msg-container::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/dragons2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: -1; 
}

form {
    position: fixed;
    bottom: 0;
}