<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>

      <ion-buttons slot="start" class="ion-margin">
        <ion-back-button defaultHref="/main/tabs/tab1" color="qplightblue"></ion-back-button>
        <ion-avatar class='avatar-container'>
          <ion-img *ngIf="focusedUserInfo" src="/assets/avatars/{{focusedUserInfo.avatar}}" size="small"></ion-img>
        </ion-avatar>
      </ion-buttons>

      <div class='name-container'>
        <ion-label *ngIf="focusedUserInfo" color="qplightblue">{{focusedUserInfo.name}}</ion-label>
        <span *ngIf="!focusedUserInfo" color="qplightblue">
          Seleccione un amigo</span>
        <span *ngIf="focusedUserInfo">ult. vez hace: {{ lastSeenTime }} </span>
      </div>
      


    </ion-toolbar>
  </ion-header>


</ion-header>

<ion-content [fullscreen]="true">
  <app-chat-box></app-chat-box>
</ion-content>