<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>

      <ion-buttons slot="start" class="ion-margin">
        <ion-back-button defaultHref="/main/tabs/tab1" color="primary"></ion-back-button>
      </ion-buttons>
      <ion-item>
        <ion-title *ngIf="focusedUserInfo" color="primary">{{focusedUserInfo.name}}</ion-title>
        <ion-title *ngIf="!focusedUserInfo" color="primary">
          Seleccione un amigo</ion-title>
        <ion-label *ngIf="focusedUserInfo">ult. vez hace: {{ lastSeenTime }} </ion-label>
      </ion-item>
      
  
      <ion-buttons slot="start">
        <ion-avatar>
          <ion-img *ngIf="focusedUserInfo" src="/assets/avatars/{{focusedUserInfo.avatar}}" size="small"></ion-img>
        </ion-avatar>
      </ion-buttons>


    </ion-toolbar>
  </ion-header>


</ion-header>

<ion-content [fullscreen]="true">
  <app-chat-box></app-chat-box>
</ion-content>